@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:10px 50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

.wrapper {
  margin:0 auto;
}

img {
  max-width:100%;
}

.bot {
  display: inline-block;
}
.bot img {
  /** FOR NOW: To have some sort of order **/;
  width: 590px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

@media print, screen and (max-width: 960px) {
 
}

@media print, screen and (max-width: 720px) {

}

@media print, screen and (max-width: 480px) {

}

@media print {

}
