@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:10px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

img {
  max-width:100%;
}

.wrapper {
  margin:0 auto;
}

.bot {
  display: inline-block;
}

.bot img {
  overflow: hidden;
  padding: 3px;
  background: #EEE;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.bot .footer {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: right;
  margin: 0 12px 22px;
  border-bottom: 1px solid #CACACA;
}