<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Lullabot.github.com by Lullabot</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Lullabot.github.com</h1>
        <p class="view"><a href="https://github.com/Lullabot">View My GitHub Profile</a></p>
      </header>

      <section>
        <h1>Lulladex</h1>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
  </body>
</html>